@import "reset";
@import "animations";
@import "variables";

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: linear-gradient(180deg, rgb(253, 233, 142) 30%, white);
    height: 50%;
    width: 50%;
    padding: 20px;
    display: grid;
    grid-gap: 15px;
    grid-template: auto /  repeat(4, minmax(75px, 1fr));
}

.box {
    background-color: rgb(57, 154, 245);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    animation: pulse 3s ease-in-out forwards;
}

.circle {
    background-color: rgb(223, 153, 188);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: relative;
    animation: hover 3s ease-in-out infinite;
}